$text-1a-min: 14;
$text-1a-max: 14;

$text-1b-min: 14;
$text-1b-max: 16;

$text-2-min: 16;
$text-2-max: 16;

$text-3a-min: 24;
$text-3a-max: 36;

$text-3b-min: 24;
$text-3b-max: 40;

$text-4-min: 36;
$text-4-max: 80;

$text-1-min: 14;
$text-1-max: 14;
$text-1-min: 14;
$text-1-max: 14;
